<section id="sidebar" [ngClass]="functionsS.status ? 'hide' : ''">
    <a href="#" class="brand">
      <i class="bx bxs-group fa-solid fa-house"></i>
      <span class="text">Carthage Solutions</span>
    </a>
    <ul class="side-menu top">
      <li class="active">
        <a href="#">
          <i class="bx bxs-group fa-solid fa-house"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bxs-group fa-solid fa-user"></i>
          <span class="text">Clients</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bxs-group fa-solid fa-globe"></i>
          <span class="text">Domains</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bxs-group fa-solid fa-pen-to-square"></i>
          <span class="text">Profile</span>
        </a>
      </li>
      
    </ul>
    <ul class="side-menu">
      <li>
        <a href="#">
          <i class="bx bxs-group fa-solid fa-gears"></i>
          <span class="text">Settings</span>
        </a>
      </li>
      <li class="">
        <a href="#" class="logout">
          <i class="bx bxs-group fa-solid fa-right-from-bracket"></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
</section>